.App {
  background-color: white;
  }

  .App-header {
    background-color: white;
    color: white;
    border-bottom: 3px solid #e01d3f;
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-header h1 {
    color: #e01d3f;
    display: inline-flex;
    flex-direction: column;
  }
